.tags--container {
    padding: var(--s-1) 0;
    display: flex;
    flex-wrap: wrap;
    gap: var(--s5);
    font-size: 80%;
}

.tags--container-inline {
    display: inline;
}

.tag {
    & a {
        padding: var(--s-5) var(--s-4);
        color: var(--text-secondary);
        text-decoration: none;
        background: var(--background-color-lighter);
    }
}