---
layout: base
---

<article>
    <h2>{{ title }}</h2>
    <div class="post--header">
        <span class="post--time" datetime="{{ post.data.date }}">{{ date | dateFilter }}</span>
        -
        <span class="tags--container-inline tags--container">
            {% for tag in tags %} 
            {% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
                <span class="tag">
                    <a href="{{ tagUrl | url }}">{{ tag }}</a>
                </span>
                {% endfor %}
        </span>
    </div>
    <div class="post--content">
        {{ content | safe }}
    </div>
</article>