---
layout: base
---

<article>
    <h2>{{ title }}</h2>
    <div class="post--header">
        <span class="post--time" datetime="{{ post.data.date }}">{{ date | dateFilter }}</span>
        -
        {% include "partials/tags-list.njk" %}
    </div>
    <div class="post--content">
        {{ content | safe }}
    </div>
</article>