---
layout: base
---

{% include "partials/search.njk" %}

<article>
    <h2>{{ title }}</h2>
    <div class="post--header">
        <time datetime="{{ post.data.date }}">{{ date | dateFilter }}</time>
        <span class="tags">{% include "partials/tags-of-a-post.njk" %}</span>
    </div>
    <div class="post--content">
        {{ content | safe }}
    </div>
</article>