<div class="container py-vh-5">
  <div class="row d-flex justify-content-center text-center">
    <div class="col-12 col-lg-10">
      <h1 class="display-huge mb-3">Recent posts</h1>
    </div>
  </div>
</div>
