<footer role="contentinfo">
  <div id="footer--container">
    <div id="footer--left">
      <a href="{{ site.aboutUrl }}">
        {{ site.longDescription }} 
      </a>
    </div>
    <div id="footer--middle">
      <a href="{{ site.githubUrl }}/tree/master/{{page.inputPath}}" title="Edit this page">
        {% svgsprite %}
        {% icon "github" %}
      </a>
      {% include "partials/stats.njk" %}
    </div>
    <div id="footer--right"> 
      &copy; {{ site.copyright }}
    </div>
  </div>
</footer>