<div id="posts--list">
    {%- for post in collections.post | reverse -%}
    <div class="posts--list--item">
        <a class=".post--link" href="{{ post.url | url }}">{{ post.data.title }}</a>
        <div class="post--info">
            <time>{{ post.date | dateFilter }}</time>
            <blockquote>{{ post.data.page.excerpt }}</blockquote>
        </div>
    </div>
    {%- endfor -%}
</div>
