<div id="#search">
  <link rel="preload" href="/_pagefind/pagefind-ui.css" rel="stylesheet">
  <script defer src="/_pagefind/pagefind-ui.js" type="text/javascript"></script>
  <div id="search"></div>
  <script>
      window.addEventListener('DOMContentLoaded', (event) => {
          new PagefindUI({ element: "#search" });
      });
  </script>
</div>
