<span class="tags--container-inline tags--container">
  {% for tag in tags | sort | uniq %} 
    {% if tag != "post" %}
      {% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
      <span class="tag">
        <a href="{{ tagUrl | url }}">{{ tag }}</a>
      </span>
    {% endif %}
  {% endfor %}
</span>