---
title: Who?
eleventyExcludeFromCollections: true
layout: layouts/default.njk
navbar: navbar1
footer: footer1
colorModifier: dark
permalink: about-me.html
---
<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-12 text-center py-vh-5">
      <h1>{{title}}</h1>
    </div>
    <div class="col-11 col-lg-10 col-xl-6 border-bottom border-top py-vh-3">
      <div class="row">
        <p class="lead">The about page</p>
        <p>
          And the about content
        </p>
      </div>
    </div>
  </div>
</div>
