---
layout: base
permalink: /about-me/
title: About
---

{% include "partials/search.njk" %}

<div id="content" class="narrowcolumn">

    		<div class="post post-905 page type-page status-publish hentry" id="post-905">
		<h2>Who?</h2>
			<div class="entry">
				<p>
                
<img 
    style="width: 50%; float:right; padding: 1em;"
    src="/assets/images/170925_adaptto_4065-bertrand-delacretaz-cropped.jpg"
    alt="Bertrand Delacretaz, picture by Stefan Wieland"
    >
    
My name is Bertrand Delacrétaz and I've been working since 2010 for <a href="http://www.adobe.com">Adobe</a>&#8216;s Basel office in Switzerland, as a Principal Scientist in the Adobe Experience Manager and Adobe Experience Cloud teams.</p>
<p>This mostly means acting as an internal consultant on software architecture, implementing prototypes and proof of concepts and helping define the future direction of our products. I&#8217;m also heavily involved in promoting Open Development and Open Source internally.</p>
<p>I joined Day Software in 2007 and that company was acquired by Adobe in 2010. Before that I was <a title="Leaving my boss after 18 years" href="https://grep.codeconsult.ch/2007/04/01/leaving-my-boss-after-18-years/">independent</a> for 18 years, see below for a summary of what happened in that period (spoiler: lots of fun things!).</p>
<p>I am a long-term Member of the <a href="http://apache.org/foundation">Apache Software Foundation</a> and currently (2023-2024) also a member of its <a href="https://apache.org/foundation/board/">Board of Directors, </a>on my <a href="https://www.apache.org/history/directors.html">14th term</a>. I&#8217;m a somewhat active committer on the <a title="Sling" href="http://incubator.apache.org/sling">Apache Sling</a> project. I&#8217;ve been involved in many ASF projects since the year 2000: Cocoon, FOP, Solr and as an incubation mentor for (at least) Wicket, Pig, Tika, ESME, ACE, Clerezza, DeviceMap, Flex, Unomi NetBeans, OpenWhisk and Baremaps. I have some projects on <a href="https://github.com/bdelacretaz/">GitHub</a> as well.</p>
<p>I&#8217;m a regular speaker at tech conferences and have spoken at ApacheCon, adaptTo(), FOSDEM, Devoxx Paris, Paris Open Source Summit, BlendWebMix Lyon, Berlin Buzzwords, Transfer Summit and various CQ-related conferences, often on topics related to how open source communities work, on software simplicity and quality or on technical topics around Sling, OSGi and JCR. 
</p>
<p>
Until I move them here, you can find slides at <a href="http://www.slideshare.net/bdelacretaz/">http://www.slideshare.net/bdelacretaz/</a>, some with linked videos. More info, video recordings, interviews and guest blog posts are linked from my <a href="https://pinboard.in/u:bdelacretaz/t:pressbook/">virtual pressbook at pinboard.in</a>.</p>
<p>I live in the French speaking part of Switzerland, on the South coast of Lake Neuchâtel.</p>

<p>
If you are wondering how to pronounce my name, you&#8217;re not alone and you can hear me say it at the beginning of 
the "shared neurons" video below.
</p>

{% youtube "https://www.youtube.com/watch?v=pWG-F3vW24w" %}

<p><a name="contact"></a></p>

<h2>Contacting me</h2>
<ul>
    <li>Mail bdelacretaz () codeconsult (.) ch works.</li>
    <li>I'm <a href="https://fosstodon.org/@bdelacretaz" rel="nofollow me">@bdelacretaz@fosstodon.org</a> on the Fediverse, which is my primary professional network.</li>
    <li>And also <a href="http://twitter.com/bdelacretaz">@bdelacretaz</a> on Twitter, which I'm just using for broadcast-style announcements nowadays.</li>
</ul>

</p>
<p><a name="bio"></a></p>

<h2>Photo and short bio</h2>
<p>A resolution headshot of myself, by Stefan Wieland (many thanks!) is 
<a href="/assets/images/170925_adaptto_4065-bertrand-delacretaz-e1569931794184.jpg">available here.</a></p>
<p>Here&#8217;s my current &#8220;official&#8221; bio, for conferences and the like.</p>
<blockquote><p>Bertrand Delacretaz works as a Principal Scientist in the Adobe Experience Manager R&amp;D team in Basel, 
Switzerland, using open source tools to create world-class content management and digital marketing systems. 
Bertrand is an active member and Director of the Apache Software Foundation, PMC member and incubation mentor.</p></blockquote>
<h2>PGP key fingerprints</h2>

<pre>
5EFF 2565 85AC 5FB6 07F6 D46A 77B6 B69A 9E4D CC6B
bdelacretaz@apache.org &#8211; CODE SIGNING KEY &#8211; created 10/2009

9E2F 96C6 40A0 731D 93BF 548E 37F6 8FF5 015A FC8A
bdelacretaz@apache.org &#8211; old key, still valid but deprecated

</pre>

<h2>My current work</h2>
<p>People often ask why I went back to employee status after being independent for 18 years.
The main reason was the opportunity to work on much larger projects at Adobe than I could do before in a small team.
And the team that I&#8217;m part of is quite a challenging one to work in, in a good sense: those folks are <em>great</em> and
keep you on your toes! Even if many of them are half my age&#8230;...well, sometimes even a third of that nowadays.</p>

<p>Another recurring question is <em>what does a Principal Scientist actually do</em>? I suspect there are at least as many answers to that question as there are Principal Scientists, but to give you an idea here are the kind of things that generally keep me busy these days:</p>

<ul>
<li>Helping <strong>define software architecture</strong>, mostly by creating specifications, prototypes and proofs of concept. I consider myself a hands-on software architect, being a fan of working (even if vastly incomplete) code over slides. Along with the <a href="https://www.edwardtufte.com/tufte/">Edward Tufte style</a> of diagrams that help describe complex topics and being a big fan of simplicity, which takes work and a willingness to burn the extra baggage along the way.</li>
<li>Coding <strong>framework or library modules</strong>, typically small/focused server-side modules that help make other developers more efficient. The <a href="https://sling.apache.org/documentation/bundles/repository-initialization.html">Apache Sling Repository Initialization</a> module is one such example, where I wrote a large part of the code and designed the domain-specific language that it uses. Getting contributions from several people to whom I only had to give minimal explanations is very rewarding and a good validation of a clean design. Design in which the Sling community was involved of course, that&#8217;s the power of such projects!</li>
<li>Writing <strong>technical documentation and blog posts</strong> for these modules, leaning heavily on readable tests to communicate the details. I believe in documentation that focuses on the high-level concepts, along with automated tests for all the detailed information, as a way to create accurate and sustainable documentation.</li>

<li>
    Participating in <b>industry groups</b>. As of 2023 I'm focusing on
    the <a href="https://scribe.rip/the-web-platform-is-back-fa5752fabdfc">Web Platform</a>
    and starting to be more involved in related activities.
</li>

<li><strong>Coaching teammates</strong> in terms of software quality, code readability,<br />
automated testing that makes sense etc.</li>
<li><strong>Presenting at conferences</strong> as well as customer and user group meetings &#8211; my <a href="https://pinboard.in/u:bdelacretaz/t:pressbook/">virtual press book</a> has more info about that. For the tech-oriented topics I often use this as an excuse to try wild experiments and report on their success or failure in a way that helps others learn from that.</li>
<li><strong>Enjoying all of it</strong> and aiming to remain a hands-on software craftperson. Attempts to turn me into a manager have been unsuccessful so far and I don&#8217;t think that will change!</li>
</ul>
<p>A lot of this is about <em>empowering software developers</em> by helping them create robust and meaningful software.</p>
<p>As you can imagine by reading this list I am a generalist who likes to change gears and topics regularly, as opposed to someone who&#8217;s very deep in a single technology. I think you need both styles in a team and I&#8217;m happy to act as a liaison between specialists and take a more holistic view on things.</p>

<h2>Interests</h2>
<p><a href="https://grep.codeconsult.ch/2008/06/21/beautiful-words-at-wordle/"><img src="/assets/images/wordle-bd2501.jpg" alt="wordle-bd.250.jpg" width="250" height="166" align="right" border="0" /></a>This section was written around 2010 and, interestingly, it&#8217;s still totally relevant for me more than ten years later.</p>
<p>I like to design and write modular, reliable and <em>meaningful</em> software. Did you read <a href="http://www.amazon.com/exec/obidos/ASIN/0672316498/bertrandswebl-20?creative=125581&amp;camp=2321&amp;link_code=as1"> the inmates are running the asylum? </a> If not you should. Software and high-tech devices should be made for users, not the opposite.</p>
<p>I use Open Source tools and contribute to Open Source projects whenever possible.</p>

<p>I&#8217;m a firm believer in the Open Source development model as the best way to build reliable software. There&#8217;s space for closed software as well, but only in very specific situations, and even then the Open Source development model can be very successful, right here inside your company. Many of <a href="https://pinboard.in/u:bdelacretaz/t:pressbook/">my conference presentations</a> are about that.</p>

<p>I like to work with lightweight tools and systems, and make it as simple as possible &#8211; but no simpler (the quote is not from me).</p>
<p>Of course I have favorite technologies and tools as well, but they come second to the &#8220;primary mission&#8221; of creating useful things that actually work.</p>

<p>
Apart from all that technical stuff, the diversity and multi-cultural aspects of our work are
very important to me. I guess I'm into <em>pragmatic diversity</em>, ignoring barriers and refusing
to be influenced by what could divide us.
</p>

{% youtube "https://www.youtube.com/watch?v=D4uzW6jTG3k" %}

<h2>Fun stuff</h2>
<p>If this was a resumé there would be a &#8220;hobbies&#8221; section, right?</p>

<p>So here we go:</p>

<a href="/assets/images/musicians-institute-bertrand-1989.jpg" target="_blank">
<img
    src="/assets/images/musicians-institute-bertrand-1989.jpg",
    style="width:50%; float:right; padding:0.5em;",
    alt="Musician's Institute graduation, Spring 1989"
>
</a>

<p>In 1988 I attended the one-year <b>Percussion Institute of Technology class</b> at <a href="http://www.mi.edu/">Musician&#8217;s Institute</a> in Hollywood, California. Studying with people like Joe Porcaro (the father of the Toto brothers) and Ralph Humphrey (who plays on Al Jarreau&#8217;s &#8220;This Time&#8221; album for example), among others, was an incredible experience. Improvising with a trusted group of musicians has lots of parallels with creative software development. I currently play drums (a fantastic <a href="http://www.whitneydrums.com/">Whitney Drums</a> kit) and percussion with the <a href="http://joyful-buskers.ch">Joyful Buskers</a>.</p>

<p>In 2011 me and my wife <b>climbed Mount Kilimanjaro</b> with a group of friends, on the day of our 25th wedding anniversary! If you&#8217;re looking to do that our <a href="https://www.youtube.com/watch?v=L4yA-4hl_N8">movie</a> will give you a feel for what it&#8217;s like. Only one in our group of nine didn&#8217;t suffer, and it&#8217;s not me, but the whole experience was very worth it!</p>

{% youtube "https://www.youtube.com/watch?v=L4yA-4hl_N8" %}

<p>Later that year we <b>cycled the Danube river</b>, from Ulm in Germany to Vienna, Austria. A great cycling holiday, easy terrain, great scenery and very safe all along the way, you could even do it with kids. That <a href="https://www.youtube.com/watch?v=aCRZ3KgkdFU">movie</a> is a bit tongue-in-cheek but gives an idea of what it&#8217;s like. I&#8217;m cycling all year using a fun and very efficient electric-assisted bike, and it&#8217;s my primary way to go places, combined with our fantastic Swiss trains. As someone said, cycling regularly makes you happier, healthier and with more money in your pockets, way to go!</p>

{% youtube "https://www.youtube.com/watch?v=aCRZ3KgkdFU" %}

<p>I got my <b>international sea sailing license (ICC) in 2015</b>, sail regularly on Swiss lakes and at sea, including some occasional racing like on the historic <a href="https://www.youtube.com/watch?v=2ATqejQy16c">Pen Duick II</a>. Good design stands the test of time, there&#8217;s a lot to learn by sailing on a 50-years old boat that still keeps up with the best in terms of holding up to serious weather. I&#8217;m also involved as a skipper and flotilla master for a <a href="http://reves-sur-mer.ch/">local association</a> that organizes sailing camps at sea for young people.</p>

{% youtube "https://www.youtube.com/watch?v=2ATqejQy16c" %}

<section class="archeology">
<h2>Archeological section!</h2>

<h2>Working as an independent, from 1989 to 2006</h2>
<p>Here are a few projects that have been milestones in my career as an independent.</p>
<p>This stuff is getting quite old now, so unless you&#8217;re into archaeology I guess you can skip this section.</p>
<div class="refwork">
<h3>Solr indexer evaluation, customization and implementation</h3>
<p>I have implemented a <a href="http://tsrvideo.ch">rich navigation system for videos</a> using the Lucene-based <a href="http://incubator.apache.org/solr" target="_blank" rel="noopener">Solr</a> search server for a major Swiss media group.</p>
<p>This involves gathering data from various sources, transforming to a common XML indexable model (XSLT), writing glue scripts to trigger automatic index updates, extensive testing on a variety of search use cases, and coordinating a small team to make it happen.</p>
<p>Interface modules created for this project have been contributed to the Solr project.</p>
<div class="note">Technologies: Solr, XML, XSLT, Linux scripting</div>
</div>
<div class="refwork">
<h3>Articles, talks and workshops</h3>
<p>The most current information about this is at <a href="https://pinboard.in/u:bdelacretaz/t:pressbook/">https://pinboard.in/u:bdelacretaz/t:pressbook/</a>.</p>
<p>I gave talks at the <a href="http://www.orixo.com/orixo/events/gt2003/sessions.html#bertrand">Cocoon GetTogether 2003</a> and at lots.ch in 2004, about how to use lightweight tools (bugzilla, CVS, mailing lists, wikis, weblogs) to efficiently coordinate software teams. They have been well received, people tend to agree that The Open Source collaboration model is very useful for all kinds of projects, open, closed or even not software related.</p>
<p>I&#8217;m the original author of the <a href="http://cocoon.zones.apache.org/demos/release/samples/blocks/tour/intro/docs/index.html">Supersonic Tour of Apache Cocoon</a> interactive tutorial, which gives an overview of the Cocoon <em>Power Trio</em>: Pipelines, Flow and Forms.</p>
<p>In 2006 I wrote an <a href="http://www.xml.com/pub/a/2006/08/09/solr-indexing-xml-with-lucene-andrest.html">Introductory article about Solr</a> for xml.com.</p>
<p>My other talks at the <a href="http://www.orixo.com/orixo/events/gt2004/sessions.html#bertrand">Cocoon GetTogether 2004</a>, <a href="http://www.cocoongt.org/archive/2005/Slides-and-recordings.html">2005</a> and <a href="http://wiki.apache.org/cocoon/GT2006Notes">2006</a>, and at the <a href="http://eu.apachecon.com/konferenzen/psecom,id,489,nodeid,489.html">ApacheCon EU 2006 conference</a> have also been well received, slides and/or papers are available online, recent slide decks on <a href="http://www.slideshare.net/bdelacretaz">slideshare</a>.</p>
<p>Since 2007, I&#8217;ve been speaking regularly at various events, including the <a title="ApacheCon" href="http://www.apachecon.com">ApacheCon</a>, <a href="http://jazoon.com/">Jazoon</a>, and <a href="http://www.openexpo.ch/">OpenExpo</a> conferences.</p>
</div>
<div class="refwork">
<h3>Bioinformatics: validated interpreter for DNA analysis</h3>
<p>In 2005, I worked as Java architect and consultant for a genomics and bioinformatics company.</p>
<p>Working in collaboration with biology specialists, I have designed, implemented and tested an interpreter for a domain-specific language, to derive drug resistance recommendations based on DNA samples.</p>
<p>This involved very extensive automated testing (using JUnit and custom testing software) to validate the results against tens of thousands of reference samples, with 100% coverage and success requirements.</p>
<p>Another part of this contract was the support of the R&amp;D team in the use of collaboration tools: CVS, bugzilla issue tracker and wikis.</p>
<div class="note">Technologies: Java, JavaCC, JUnit, Ant</div>
</div>
<div class="refwork">
<h3>Cocoon-based CMS for the Nouvo TV show</h3>
<p>Launched in September 2004 for the <a href="http://www.rts.ch/" target="_new">Swiss national television</a> , <a href="http://www.nouvo.ch/" target="_new">www.nouvo.ch</a> was backed, at that time, by a lightweight content management system that I designed and implemented with a small team, based on <a href="https://cocoon.apache.org">Apache Cocoon</a>.</p>
<p>The nouvo CMS is used by journalists to very quickly create and publish multimedia stories, easily managing different variants of media files to publish the content on both the web and on mobile phones (wap.nouvo.ch).</p>
<p>The development cycle was fairly short, about seven weeks of programming work in total, first myself for three weeks to do the infrastructure and then four weeks with three additional programmers. Using the lightweight team coordination tools mentioned below proved once again to be a lifesaver with such a tight schedule.</p>
<p>Cocoon has shown its power as a very powerful and flexible framework to build this kind of system, and applying the <em>simplest thing that works</em> principle all the way through translates into a very usable and stable system.</p>
<p>Development of this system and website is ongoing, including video forums as mentioned above.</p>
<div class="note">Technologies: Cocoon, Java, OJB, XSLT, MySQL, Linux</div>
</div>
<div class="refwork">
<h3>Linux-based interactive movie theatre</h3>
<p>In 2003 I designed an implemented a Linux-based interactive movie theatre for the exhibition <a href="http://www.archimob.ch/">L&#8217;Histoire c&#8217;est moi</a>, which was still touring Switzerland in 2008. There&#8217;s more info about it on my <a href="http://codeconsult.ch/bertrand/archives/000211.html">weblog</a>. The system has been running very reliably from day one, people are happy!</p>
<div class="note">Technologies: Linux, Java, Flash, BeanShell</div>
</div>
<div class="refwork">
<h3>300-user planning and workflow system</h3>
<p>From 1998 to the around 2005 I&#8217;ve been working (on an off) as lead architect and programmer for a planning and workflow system for the Swiss Federal Chancellery. This is a 300-user system, not too complicated in functionality but requiring high availability.</p>
<p>It&#8217;s been interesting to evolve this from scratch in an iterative way, and seeing users and project managers convinced of the <em>release early, release often</em> principle.</p>
<p>This included starting the Open Source <em>jfor</em> project, an XML-to-RTF converter which was later integrated into <a href="http://xml.apache.org/fop">FOP</a>.</p>
<div class="note">Technologies: Java, Enhydra, Cocoon, XSLT, FOP, jfor, SQL Server</div>
</div>
<div class="refwork">
<h3>Teaching software engineering</h3>
<p>In 2002 I was contracted by <a href="http://www.epfl.ch/">EPFL</a> for a practical software engineering class, where students worked in teams of five to design and implement a simulation game in Java.</p>
<p>It was very rewarding to see students open up to the world of real projects as opposed to textbook examples, and this started my interest for tools and techniques which make project teams work.</p>
<p>This followed another assignement at EPFL in 2000, where I taught web-applications modules and coached student&#8217;s projects as part of a <a href="http://ic2.epfl.ch/postgr/descr2000/RDh3000.html">postgraduate course</a> named <em>tools for PC and Internet applications</em>.</p>
<p>I was also a regularly external teacher at <a href="http://www.comem.ch/">comem.ch</a>: XML, XSLT, Cocoon, web technologies, content management and student&#8217;s diploma work coaching.</p>
</div>
<div class="refwork">
<h3>verbalix</h3>
<p>In 1998 and 1999 I was co-architect for this java-based audio recording, workflow and content management system, used by the <a href="http://parlement.ch/">Swiss Parliament</a> to very quickly (while meetings are still going) publish the minutes of the Chambers on the web (&#8220;Amtliches Bulletin&#8221;). This system has received two prizes for its innovative design and functionality, and is still going strong with very little maintenance.</p>
<p>After that, I helped bootstrap the <a href="http://www.it-processing.ch/">IT-Processing</a> company, which is selling the system and has created lightweight derivative products based on the same technology.</p>
<div class="note">Technologies: Java, RMI, XML, Enhydra, SQL Server</div>
</div>
<div class="refwork">
<h3>CuriaVista</h3>
<p>In 1997, as Java was still in its infancy, I designed and co-implemented the CuriaVista system, also for the <a href="http://parlement.ch/">Swiss Parliament</a>, to generate searchable HTML pages from a legacy database.</p>
<p>This included implementing a custom JDBC driver, page-generation servers and a custom multilingual query language (we speak four languages here in Switzerland), interfaced with a commercial search engine.</p>
<p>This is still running today, has required very little maintenance and has since been ported to a more modern database by the internal team.</p>
<div class="note">Technologies: Java, JDBC, Servlets, Basis Plus, Microsoft Index Server</div>
</div>
<div class="refwork">
<h3>Wide-area data acquisition and visualization</h3>
<p>From 1993 to 1996, I redesigned and did most of the implementation of a 
<a href="https://www.boschung.com/">data acquisition and visualization system</a>
used for road management in counties, airports and sometimes whole countries.</p>
<p>This involved portable software (Unix and Windows) for data acquisition, storage and GUI, and the implementation of several data communications and network protocols.</p>
<p>This system has been installed all around Europe, and is still used in several installations, with minor changes and very low maintenance requirements.</p>
<div class="note">Technologies: C++, Unix, XVT portable GUI toolkit</div>
</div>
<div class="refwork">
<h3>Punching machine for street organ music</h3>
<p>In 1991, I designed and implemented the control software (and part of the electronics &#8211; I started as an electronics engineer) for this machine. Starting from standard MIDI files, this computes the required hole positions and punches the cardboard music roll to recreate the music when played on the street organ.</p>
<p>This was my first C++ project, and led to teaching C++ in companies and schools from 1992 to 1999.</p>
<div class="note">Technologies: C++, Visual Basic (frontend)</div>
</div>
</section>