---
layout: base
title: Home
permalink: '/'
---

{% include "partials/search.njk" %}

<h2>VOTD - Video Of The Day</h2>
{% set link = highlights[0] %}
<div class="video">
  <h4>{{link.title}}</h4>
  {% youtube link.video  %} 
  <p>{{link.description}}</p>
</div>

There's more videos of my talks and interviews on the <a href="/pressbook">pressbook</a> page.

<h2>Current Affairs</h2>

<img
  src="/assets/images/190904_AdaptTo_7121.webp" 
  style="float:right; width:50%;"
  alt="At the adaptTo() conference, Berlin, September 2019"
/>

<article>
  {% set postlist = collections[ "current" ] %} 
  {% include "partials/list-of-posts.njk" %}
</article>

<h2>Favorite posts</h2>

{% set postlist = collections[ "favorite" ] %} 

<p>
  Here's a list of my {{ postlist.length }} favorite posts. Milestones, writings that I'm proud of, etc., going all
  the way back to the early 2000s, when I started my first tech blog.
<p>

<article>
  {% include "partials/list-of-posts.njk" %}
</article>
