---
layout: base
title: Home
permalink: '/'
---


<img src="/assets/images/bertrands-bike-wins.jpg" style="width: 50%; float:right;"/>

<div>
The <em>complete</em> lists of this blog's posts is shown below. It's not that big, but it 
goes back quite some time. Some content is likely to be outdated...but kept <em>for historical reasons</em>.
</div>
<hr/>
<article>
{% include "partials/posts-list.njk" %}
</article>
