---
layout: base
title: "Pressbook"
permalink: /pressbook/
---

{% include "partials/search.njk" %}

<h2>Pressbook</h2>

Oops...my pressbook is currently broken, working on it!
<!--
<p>
What I call my pressbook is
<a href="https://pinboard.in/u:bdelacretaz/t:pressbook/">a set of links on pinboard.in</a>.
</p>

<p>
It lists recordings of my conference talks, interviews,
guest blog posts and other things that you might find useful.
</p>

<a href="https://pinboard.in/u:bdelacretaz/t:pressbook/">
  <img
    src="/assets/images/pressbook-screenshot.webp" 
    alt="Screenshot of my pressbook"
  />
</a>
-->
