---
layout: base
title: "Pressbook"
permalink: /pressbook/
---

{% include "partials/search.njk" %}

<section class="pressbook">

<h2>Pressbook</h2>

<p>
Here is a list of recordings of my conference talks, as well as interviews
and articles that I wrote or participated in.

Some in French, some in English as I present in both languages.
</p>
<p>
If you're interested in having me present one of these talks, in English or French,
please get in touch! My German is not good enough to present but I can take questions
in German if that's convenient.
</p>

<h3>Highlights</h3>

<div class="videos">
{% for link in highlights %}
  <div class="video">
    <h4>{{link.title}}</h4>
    {% if link.video.match("vimeo") %}
      {% vimeo link.video %}
    {% else %}
      {% youtube link.video %}
    {% endif %}
    <p>{{link.description}}</p>
  </div>
{% endfor %}
</div>

<h3>The Big List of recordings, interviews and articles</h3>

It is a long list indeed, going back quite some time in reverse
chronological order.

<ul>
{% for link in pinboard %}
  {% if 'pressbook' in link.tags %}
    <li>
      <a href="{{ link.href }}">{{ link.description }}</a>
    </li>
  {% endif %}
{% endfor %}
</ul>

</section>