---
layout: base
title: Tag
pagination:
    data: collections
    size: 1
    filter: all
    alias: tag
permalink: /tags/{{ tag | slug }}/
---

{% include "partials/search.njk" %}

<h2>Posts tagged with "{{ tag }}”</h2>

<div id="posts--list">
    {% set postlist = collections[ tag ] %} 
    {% for post in postlist | reverse %}
      {% include "partials/post-in-list.njk" %}
    {%- endfor -%}
</div>