---
layout: base
title: Tag
pagination:
    data: collections
    size: 1
    filter: all
    alias: tag
permalink: /tags/{{ tag | slug }}/
---

{% set postlist = collections[ tag ] %} 

{% include "partials/search.njk" %}

<h2>
  <em class="tag--current--in-context">{{ tag }}</em>
  {% if postlist.length > 1 %}
  - {{postlist.length}} posts
  {% elif postlist.length == 1 %}
  - a single post, for now
  {% endif %}
</h2>

<article>
  {% include "partials/list-of-posts.njk" %}
</article>